.button {
    width: 196px;
    height: 50px;
    margin-top: 10px;
    padding: 14px 28px;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #b5a6d5;
    background: #5736A3;
    border: none;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;
    cursor: pointer;
  
    &:hover,
    :focus {
      opacity: 0.8;
    }
}
.boxFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.boxButton {
    display: flex;
   gap: 20px;
}

.text {
margin-bottom: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #5736A3;
}